
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  box-sizing: border-box;


}


/* Container */
.container {
  min-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.7);

  

}

.input-container {
  position: relative;
  top: 20px;
}

h1 {
  font-size: 50ppx;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  
}

/* Form */
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: white;
  outline: none;
  font-family: 'Nunito', sans-serif;
  color: black;


}

/* Button */
button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: rgb(31, 31, 184);
  color: white;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}
button:hover{
  filter: brightness(90%);
}



/* Countdown */
ul {
  margin-left: -45px;
}

li {

  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
  position: relative;
  top: 60px;
}
.complete-title{
  animation: complete 4s infinite;
}
@keyframes complete {
0%{
  color: rgb(180, 13, 13)

} 25%{

  color: rgb(219, 230, 19)

} 50%{
  color: rgb(9, 133, 79);
  transform: scale(1.5);


}75%{
  color: rgb(69, 31, 158)


}100%{
  color: rgb(117, 26, 104)


}
}
/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  
  .container {
    min-width: unset;
    width: 95vw
;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  h1 {
    font-size: 20px;
  }

  li {
    font-size: 15px;
  }

  li span {
    font-size: 40px;
  }
}
